FormatStyle: file
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-union-access,
  -readability-braces-around-statements,
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  readability-implicit-bool-conversion.AllowPointerConditions: true
  ################################
  # Identifier naming convention #
  ################################
  readability-identifier-naming.NamespaceCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.MemberCase: CamelCase
  readability-identifier-naming.PrivateMemberCase: CamelCase
  readability-identifier-naming.PrivateMemberPrefix: m_
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.VariableCase: CamelCase
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.TemplateParameterPrefix: T
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  # NOTE: workaround (https://github.com/llvm/llvm-project/issues/46097)
  readability-identifier-naming.TypeTemplateParameterIgnoredRegexp: expr-type
